* {
    margin: 0px;
    padding: 0px;

} 

body {
    position: relative;
    font-size: 36px;
    background-color:darkslategrey;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    margin: 40px 20px;
}

main {
    padding: 75px;
}

li {
    display: inline;
    padding: 10px 30px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

header, footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: darkgoldenrod;
}

header {
    position: fixed;
    border-bottom: 10px solid wheat;
   
}

footer {
    position: absolute;
    margin-top: 0px;
    bottom: 0px;
    border-top: 10px solid wheat;
    border-bottom: 10px solid wheat;
}

figure {
    margin-bottom: 40px;
}

img {
    display: block;
    margin: 20px auto;
    width: 2000px;

}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 20px;
    border-top: 10px solid salmon;
    background-color:brown;
}

form {
    margin: 0 auto;
    display: inline;
    text-align: center;
    width: 500px;
    padding: 10px;
    border: 5px salmon;
    border-radius: 20px;

}

label {
    display: inline-block;
    width: 100px;
}

input, textarea {
    box-sizing: border-box;
    width: 300 px;
    border: 1px solid saddlebrown;
}

textarea {
    vertical-align: top;
    height: 60px;
}

button {
    height: 40px;
    width: 120px;
    background-color: blanchedalmond;
    color: black
}

.text-center {
    text-align: center;
    background-color:brown;

}

.text-right {
    text-align: right;
}


